.colorDiv {
  width: 290px;
  height: 12px;
  transform: rotate(-23deg);
  position: relative;
  top: 265px;
  left: 145px;
  border-radius: 5px;
}
.color-true {
  background-color: rgb(59, 149, 233);
}
.anakin-img {
  margin-top: 15px;
  margin-left: 50px;
  height: 589px;
}
